@import "./assets/css/preflight.css";

@import "./assets/css/fonts.css";

:root {
    --bg-main: 213, 214, 211;
    --bg-secondary: 197, 195, 187;
    --bg-error: 241 241 241;
    --bg-hover: 133, 141, 150;
    --bg-button: 68, 56, 80;

    --text-on-main: 23, 33, 33;
    --text-on-main-secondary: 133, 141, 150;
    --text-on-button: 255, 255, 255;
    --text-on-error: 185, 28, 28;

    --border-main: 133, 141, 150;
    --border-hover: 68, 56, 80;
    --border-selected: 68, 56, 80;
    --border-error: 254, 202, 202;

    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-black: 900;
}

body {
    font-family: 'Inter', sans-serif;

    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(var(--bg-secondary));
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(var(--bg-hover));
        border-radius: 6px;
        border: 2px solid rgb(var(--bg-secondary));
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(var(--border-hover));
    }

    ::-webkit-scrollbar-corner {
        background: rgb(var(--bg-secondary));
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(var(--bg-hover)) rgb(var(--bg-secondary));
    }
}